/* ภารกิจที่ 2: จัดสไตล์ <body> */
body {
  background-color: #bedef8;
  font-family: Arial, sans-serif;
}

/* ภารกิจที่ 3: จัดสไตล์ .card */
.card {
  width: 300px;
  background-color: #ffffff;
  border: 3px solid #000000;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
}

/* ภารกิจที่ 4: จัดสไตล์รูปภาพ <img> */
.card img {
    max-width: 100%;
  border-radius: 10%;
  display: block;
  margin: 1 auto 15px;
  height: 250;
}

/* ภารกิจที่ 5: จัดสไตล์ชื่อ #profile-name */
#profile-name {
  color: #333333;
  text-align: center;
}

/* ภารกิจที่ 6: จัดสไตล์ .bio */
.bio {
  color: lch(28.2% 84.13 316.58);
  font-size: 14px;
}

/* ภารกิจที่ 7: จัดสไตล์ <ul> */
ul {
  list-style-type: none;
  padding-left: 0;
}